* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* bagian menu atas (cuman kotaknya aja) */
.menu {
    background-color: #3baea0;
    width: 100%;
    height: 70px;
    color: #113f67;
    position: fixed;
}

/* kata PERSONAL WEB */
.logo {
    float: left;
    padding-top: 24px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.dasboard {
    margin-left: 900px ;
    margin-top: 27px;
}

.dasboard ul li{
    list-style: none;
    display: inline-block;
    margin-right: 50px;
}

/* fitur (profil,education, contac) */
.dasboard ul li a{
    text-decoration: none;
    color: #113f67;
    font-family: Cambria;
}

/* fitur (profil,education, contac)nya berubah warna */
.dasboard ul li a:hover { 
    color: #6643b5;
}

/* kotak isi utamanya aja */
.homepage {
    background-color: #93e4c1;
    height: 610px;
    text-align: center; 
    color: white;
}

/* gambar indah */
.homepage img {
    border-radius: 100px;
    height: 130px;
    border: 4px solid #e0ffcd;
    margin-top: 150px;
}

/* kata Hello everyone */
.homepage h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* button see more about me */
.homepage button {
    margin-top: 60px;
    padding: 10px;
    width: 400px;
    border-radius: 50px;
    border: none;
}

/* buttonnya berubah warna kalo ada kursor*/
.homepage button:hover {
    background-color: #3baea0;
    border: 1px solid #cbf078;
    color: white;
}

/* supaya kalimatnya bisa dianimasiin */
h3 span::before{
    content: '';
    animation: ubah infinite 13s ease;
    transform: translateY(-50%);
    color: #113f67;
    font-size: 50px;
}

@keyframes ubah {
    8% {
        content: 'My Name Is Indah Putri Maharani';
    }

    50% {
        content: 'Thank You For Stopping here:)';
    }
}

/* kata Profile */
.Profile {
    text-align: center;
    color: #113f67;
    margin-top: 30px;
    align-content: center;
}

/* .Profile {
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 0px 20px;
    font-size: 20px;
} */

/* body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #93e4c1;
} */

section{
  position: relative;
  top: 30px;
  left: 90px;
  height: 450px;
  width: 1075px;
  display: flex;
  align-items: center;
}

.swiper{
  width: 1050px;
  height: 500px;
}

/* background warna dibelakang foto agate */
section .card .image{
  height: 200px;
  width: 200px;  
  border-radius: 60%;
  padding: 2px;
  background: #e4f1fe;
}

/* foto agatenya */
section .card .image img{
  height: 100%;
  width: 100%;  
  object-fit: cover;
  border-radius: 50%;
  border: 1.5px solid #fff;
}

/* ini yang sejajar sama kalimat */
.card{
  position: relative;
  background: #bbe4e9;
  border-radius: 20px;

  width: 280px;
}

/* ini yang sejajar sama foto agate */
.card::before{
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  background: #53a8b6;
  border-radius: 20px 20px 3px 3px;
}

.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px;
  position: relative;
  z-index: 100;
}

.card .media-icons{
  position: relative;
  /* top: 10px; */
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.card .media-icons i{
  color: black;
  opacity: 2;
  margin-top: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}


.card .media-icons i:hover{
  opacity: 5;
}

/*  */
.card .nama{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #382f60;
}

.nama .name{
  font-size: 30px;
  font-weight: 600;
  font-family: 'New Century Schoolbook';
}

.nama .sub{
  font-size: 17x;
  text-align: center;
  font-weight: 500;
  font-family: 'Calibri';
}

.card .rating {
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.card .rating i{
  font-size: 18px;
  margin: 0 2px;
  color: black;
}

/* posisi buton see more */
.card .button {
  width: 90%;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

/* bentuk tampilan button see more */
.card .button button{
  background: #94d2ca;
  outline: none;
  border: none;
  color: #363f6b;
  padding: 0px 8px;
  margin-top: 20px;
  border-radius: 20px;
  font-size: 11px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button button:hover{
  background: #739cb7;
}

.swiper-pagination-bullet{
  height: 7px;
  width: 50px;
  border-radius: 25px;
  background: #787677;
}

/* button next prev */
.swiper-button-next, .swiper-button-prev{
  opacity: 0.7;
  color: #5f5dbd;
  transition: all 0.3s ease;
  margin-left: -25px;
  margin-right: -25px;
}

.swiper-button-next:hover, .swiper-button-prev:hover{
  opacity: 1;
  color: #5f5dbd;
}

/* kata Educatinnya */
.list-pendidikan {
    text-align: center;
    color: #113f67;
    margin-top: 90px;
    align-content: center;
}

.sd {
    width: 270px;
    height: 330px;
    background-color: #f0f0f0;
    text-align: center;
  
    /* 70= jarak atas, 20=jarak kanan, 20=jarak bawah, 55=jarak samping */
    margin: 40px 13px 20px 25px;
    border-radius: 10px;
    font-size: 10px;
    float: left;
}
.smp, .sma, .kuliah {
    width: 270px;
    height: 330px;
    background-color: #f0f0f0;
    text-align: center;
  
    /* 70= jarak atas, 20=jarak kanan, 20=jarak bawah, 55=jarak samping */
    margin: 40px 13px 20px 25px;
    border-radius: 10px;
    font-size: 13px;
    float: left;
}

.sd:hover, .smp:hover, .sma:hover, .kuliah:hover {
    background-color: #93e4c1;
    color: #394a51;
}

/* buat jarak nama sekolah dan alamatnya */
.list-pendidikan h3, p{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px 20px;
}


/* Kata contacnya */
.kontak {
  text-align: center;
  color: #113f67;
  margin-top: 90px;
  align-content: center;
}

.address .phone .email{
    width: 270px;
    height: 330px;
    background-color: #739cb7;
    text-align: center;
  
    /* 70= jarak atas, 20=jarak kanan, 20=jarak bawah, 55=jarak samping */
    margin: 40px 13px 20px 25px;
    border-radius: 10px;
    font-size: 10px;
    float: left;
}
